/*
  此文件是由模板文件 ".dtpl/component/$rawModuleName.$style.dtpl" 生成的，你可以自行修改模板

  注意：文件为空，编译时不会生成新文件
*/

.top-image{
  height: 256rpx;
  width: 100%;
  background-color: #3a93ef;
}

.top-cell {
  width:91.6%;
  height:232rpx;
  background:rgba(255,255,255,1);
  border-radius:40rpx;
  align-items: center;
  margin-top: -151rpx;
}

.avatar{
  width:114rpx;
  height:114rpx;
  border-radius: 50%;
  border-width: 14rpx;
  border-color: rgba(208,232,255,0.52);
  border-style: solid;
}

.name{
  margin-left: 33rpx;
  white-space:nowrap;
}

.edit-info{
  width:195rpx;
  height:60rpx;
  background:rgba(57,147,238,1);
  border-radius:30rpx;
  font-size:24rpx;
  color: #ffffff;
  line-height: 60rpx;
  text-align: center;
  margin-left: 44rpx;
}

.cell {
  height: 126rpx;
  width: 100%;
  align-items: center;
}

.icon{
  width: 58rpx;
  height: 58rpx;
  margin-left: 38rpx;
}

.title {
  font-size:28rpx;
  color:rgba(102,102,102,1);
  margin-left: 17rpx;
}

.arr-02{
  width: 14rpx;
  height: 25rpx;
  margin-right: 60rpx;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table{
  width:91.6%;
  background:rgba(255,255,255,1);
  border-radius:40rpx;
  margin-top: 30rpx;
}

.btn {
  width:605rpx;
  height:100rpx;
  background:rgba(57,147,238,1);
  border-radius:50rpx;
  font-size: 30rpx;
  line-height: 100rpx;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 65rpx;
}

page {
  background-color: #f2f2f2;
}
