/*
  此文件是由模板文件 ".dtpl/component/$rawModuleName.$style.dtpl" 生成的，你可以自行修改模板

  注意：文件为空，编译时不会生成新文件
*/
.ecg_box, .ecg_draw{
  position: relative;
  box-shadow:0 2rpx 9rpx 0 rgba(101,101,101,0.07);
  //background-color: white;
}
.ecg_bg{
  position: absolute;
  //background-color: white;
}
