/*
  此文件是由模板文件 ".dtpl/component/$rawModuleName.$style.dtpl" 生成的，你可以自行修改模板

  注意：文件为空，编译时不会生成新文件
*/
.title {
  font-size: 18px;
  margin: 10px 0 0 10px;
}
.from {
  font-size: 12px;
  margin: 0px 10px;
  color: gray;
}
.img {
  margin: 30px 0 0 0;
}