/*
  此文件是由模板文件 ".dtpl/component/$rawModuleName.$style.dtpl" 生成的，你可以自行修改模板

  注意：文件为空，编译时不会生成新文件
*/

/*圆环进度条文字*/
.container{
  background-color: #4A9DF0; // #0d69b1;
  //background-color: black;
  position: relative;
}
.circle_info {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle_dot {
  font-size:30rpx;
  font-weight:bold;
  color:rgba(255,255,255,1);
  opacity:0.67;
  line-height: 30rpx;
}
.circle_txt {
  font-size:120rpx;
  font-weight:400;
  color:rgba(255,255,255,1);
  line-height: 87rpx;
  margin-top: 10rpx;
  margin-bottom: 15rpx;
}
// .circle_pannel {
//   flex: 0 0 200px;
  // width: 100%;
  // background-color: #104097;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-flow: row nowrap;
  // display: inline-block;
  // position: relative;
//   background-color: #0d69b1;
// }
.circle_pannel{
  flex-grow: 1;
  height: 100%;
}
.ecg_pannel {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  align-self: stretch;
}
.toast {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.toast .tip {
  color: white; // #7a7ac4;
  font-size: 26rpx;
  margin-bottom: 107rpx;
}

.remind-image-size{
  width:18rpx;
  height:18rpx;
  margin-right: 10rpx;
}
.remind-text-big{
  font-size:50rpx;
  font-weight:500;
  color:rgba(255,255,255,1);
  margin-bottom: 25rpx;
}
.remind-text-small{
  font-size:26rpx;
  font-weight:500;
  color:rgba(153,204,255,1);
}
.remind-large-size{
  width: 235rpx;
  height: 146rpx;
}
